layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
}











// layout {
//     default_tab_template {
//         pane size=1 borderless=true {
//             plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
//                 // الألوان والستايل المودرن
//                 color_fg "#cad3f5"
//                 color_bg "#24273a"
//                 color_blue "#8aadf4"
//                 color_green "#a6da95"
//                 color_lavender "#b7bdf8"
//
//                 format_left  "#[bg=$color_blue,fg=$color_bg,bold] {session} #[bg=$color_bg,fg=$color_blue]{tabs}"
//                 format_right "#[bg=$color_bg,fg=$color_lavender]#[bg=$color_lavender,fg=$color_bg,bold] {mode} "
//                 format_space "#[bg=$color_bg]"
//
//                 tab_normal   "#[fg=$color_fg,bg=$color_bg] {name} "
//                 tab_active   "#[fg=$color_green,bg=$color_bg,bold,underline] {name} "
//
//                 mode_normal  "#[bg=$color_lavender,fg=$color_bg] NORMAL "
//                 mode_tmux    "#[bg=$color_blue,fg=$color_bg] TMUX "
//             }
//         }
//         children
//     }
// }
