window#waybar {
  background: transparent;
}

#workspaces,
#taskbar {
  background: rgba(18, 18, 28, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 4px 10px;
}

#taskbar button {
  padding: 6px 10px;
  margin: 0px 3px;
  border-radius: 12px;
  background: transparent;
  transition: all 0.2s ease-in-out;
}

#taskbar button:hover {
  background: rgba(255, 255, 255, 0.15);
}

#taskbar button.active {
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid #89b4fa;
}
